<form>
    <h1>Novo Livro</h1>
    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="livro.titulo" [formControl]="titulo" required type="text" name="titulo" placeholder="Ex. Curso Spring Boot"
            maxlength="100">
        <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Autor</mat-label>
        <input matInput [(ngModel)]="livro.autor" [formControl]="autor" required  type="text" name="nomeAutor" placeholder="Ex. Valdir Cesar" maxlength="100">
        <mat-error *ngIf="autor.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" [formControl]="texto" required  type="text" name="texto" placeholder="Ex. Resumo  do livro" maxlength="200">
        </textarea>
        <mat-error *ngIf="texto.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage()" class="btn btn-primarymat-elevation-z8" mat-raised-button color="primary">
            Salvar
        </button>

        <button (click)="cancelar()" class="mat-elevation-z8" mat-raised-button color="warn">
            Cancelar
        </button>
    </div>
</form>